.footer {
    background-color: #313131;
    color: #fff;
}
.foot h3 {
    font-weight:normal;
    color:#fff;
    font-size:16px;
    text-align:center;
    margin-bottom:20px;
}
/*.foot_cont{width:100%;}*/
.foot_left p { overflow:hidden;}

.foot_left p span {
    width:40px;
    height:40px;
    display:inline-block;
    margin-right:20px;
}

.foot_left p span.weichat{margin-right:0;}
.foot_left p a{margin-top:0;}
.foot_left .sina{background:url("../../img/sina.png") no-repeat center;}
.foot_left .sina:hover{background:url("../../img/sina_hover.png") no-repeat center;cursor:pointer;}
.foot_left .weichat{background:url("../../img/weichat.png") no-repeat center;}
.foot_left .weichat:hover{background:url("../../img/weichat_hover.png") no-repeat center;cursor:pointer;}
.foot_left .foot_cont .wechat_code {
    display:none;
    margin:0;
    height:112px;
    position:relative;
}

.foot_left .foot_cont .wechat_code img {
    /*position:relative;
    left:8%;*/
    margin-left: 58px;
    top:0;
}
/* line 152, ../sass/update.scss */
.foot_left .foot_cont .wechat_code.active {
    opacity: 1;
}
/*.foot_center .foot_cont{width:292px;border-left:1px solid #666;border-right:1px solid #666;padding-left:40px;}*/
.foot_center .foot_cont p
{
    color:#999;
    font-size:14px;
    line-height:28px;
    margin-bottom:20px;
}

/*.foot_up .foot_right{padding:25px 10px 0;width:312px;}*/
.foot_right .foot_cont a {
    margin-left:35px;
    display:inline-block;
    color:#999;
    font-size:14px;
    margin-top:0;
    line-height:16px;
    margin-bottom:20px;
    text-decoration:none;
}
.foot_right .foot_cont a:hover{text-decoration:underline;}

/*.foot_down {position:absolute;width:1000px;top:220px;left:0;}*/
.footer .foot_down p {
    text-align:center;
    margin-top:0;
    font-size:14px;
    color:#999;
}
