h3.small {
    font-size: 28px;
}

#myCarousel {
    padding-top: 64px;
}

.carousel-control {
    color:#FFF;
    font-size:60px;
    background-image:none;
    background: none;
    border: none;
}

.carousel-control.right, .carousel-control.left {
    top: 50%;
    background-image:none;
    background: none;
    border: none;
}

.p-lg.bg-gray h2.text-center {
    font-size: 32px;
}

.p-lg.bg-gray h2.text-center small {
    font-size: 16px;
}

.hovereffect {
    width:100%;
    height:100%;
    /*float:inherit;*/
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay {
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img {
    display:block;
    position:relative;
    margin: 0 auto;
    -webkit-transition:all 0.5s linear;
    transition:all 0.5s linear;
}

.hovereffect:hover img {
    -ms-transform:scale(1.0);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.section-tutor {
    height: 600px;
    background-color: #f8f8f8;
}

.tutor-text {
    padding-top: 100px;
    line-height: 2.0em
}

.tutor-text p {
    font-size: 16px;
}

.tutor-chart {
    height: 600px;
}

.section-map {
    height: 600px;
    position: relative;
    background:#333;
}

.map-chart {
    height: 500px;
    width: 500px;
}

.map-text {
    padding-top: 100px;
    line-height: 2.0em
}

.map-text h3 {
    color: white;
}
.map-text p {
    font-size: 16px;
    color: white;
}


.team{position: relative; height: 570px; overflow: hidden}
.team-img {
    position: absolute;
    right: 46%;
    bottom: 0;
    background:url("../../img/service_team.png") no-repeat;
    width: 703px;
    height: 563px;
}
.team-bg {
    background: #fff;
}
.team-text p {
    font-size: 16px;
    line-height: 2.0em
}

/*.team-bg{background: #dbdbdb}*/

.lean-text {
    padding-top: 20px;
    line-height: 2.0em
}

.lean-text p {
    font-size: 16px;
    line-height: 2.0em
}

.section-pad {
    height: 700px;
    background-color: #fff;
}

.ipad-video {
    position: relative;
    top: 50%;
    background-color: #000;
}

.ipad-min {
    display:block;
    width: 770px;
    height: 528px;
    background: url("http://leohtml.oss-cn-shanghai.aliyuncs.com/www/img/ipad-min.png") no-repeat;
    background-size: contain;
    text-align:center;
    margin:0 auto;
}

.section-pad .text-center {
    padding-top: 20px;
}
.section-pad h2.text-center {
    font-size: 32px;
}

.section-pad h2.text-center small {
    font-size: 16px;
}

.home-teachers {
    padding-top: 34px;
    padding-right: 10px;
}

.hide-img2{
    display: block;
    overflow: hidden;
}
div.thumbnail a span.hide-img2 img{
    transition: all 1.1s ease-in-out 0s;
}
div.thumbnail a span.hide-img2:hover img{transform: scale(1.1);}

.hide-img2 {
    display: block;
    /*width: 462px; height: 268px;*/
    overflow: hidden;
    position: relative;
    z-index: 9;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
